# Python & Virtualenv
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.env

# Django
db.sqlite3
db.sqlite3-journal
media/
case_attachments/
staticfiles/

# IDE
.vscode/
.idea/
*.swp

# Coverage
.coverage
htmlcov/

